<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:each="el : ${post}">
    <h3>Подробнее про фрукт: </h3> <h3 th:text="${el.nazvanie}"></h3>
    <p th:text="${el.strana}"></p>
    <p th:text="${el.ves}"></p>
    <p th:text="${el.forma}"></p>
    <p th:text="${el.kolwo}"></p>
    <form th:action="'/GG/' + ${el.id} + '/remove'" method="post">
        <button type="submit" class="btn btn-del">Удалить</button>
    </form>
</div>
</body>
</html>